/** RESET **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** COLORS VARIABLES **/
:root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 0%);
    --accent-one: hsl(0, 0%, 55%);
    --accent-two: hsl(0, 0%, 41%);
}

/** GENERAL STYLE **/
html {
    scroll-behavior: smooth;
}
body {
    font-size: 15px;
}
.Alata {
    font-family: 'Alata', sans-serif;
}
.Josefin-Sans {
    font-family: 'Josefin Sans', sans-serif;
}
.flex {
    display: flex;
}
.grid { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}
h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}


/** MOBILE **/
.menu, .logo{
    z-index: 2;
}
.nav-links {
    list-style: none;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    background-color: var(--secondary);
    height: 100vh;
    width: 100vw;
    
    position: absolute;
    top: 0;
    left: 0;
    
    font-size: 1.5rem;
    padding-left: 2rem;
    text-transform: uppercase;
    display: none;
    z-index: 1;
}
.nav-links a{
    font-weight: 300;
    color: var(--primary);
    text-decoration: none;
}
#header {
    background: url(images/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navigation {
    justify-content: space-between;
    padding: 3rem 2rem
}
.title {
    border: 3px solid white;
    width: 90%;
    margin: auto;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1 {
    font-size: 2.5rem;
    color: var(--primary);
    font-weight: 300;
    text-transform: uppercase;
}

/** ABOUT **/
#about {
    background-color: var(--primary);
    padding: 5rem 0 0 0;
}
.image img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
#about  .content {
    width: 80%;
    margin: 3rem auto;
    text-align: center;
}
#about p {
    color: var(--accent-one);
}


/** EVENT **/
#event{
    width: 80%;
    margin: 4rem auto;
}
#event h2 {
    grid-column: span 12;
    text-align: center;
}
.box {
    grid-column: span 12;
    width: 100%;
    grid-row: span 1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: .7rem;
    cursor: pointer;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #9147f976;
    opacity: 0;
    transition: .5s;

}
.box:hover .overlay{
    opacity: 1;
}
.box p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--primary);
    width: 40%;
    z-index: 1;
}
.boxes {
    grid-column: span 12;
    grid-row: 2 / 3;
}
.box:nth-child(1) {
    background: url(images/desktop/image-deep-earth.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(2) {
    background: url(images/desktop/image-night-arcade.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(3) {
    background: url(images/desktop/image-soccer-team.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(4) {
    background: url(images/desktop/image-grid.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(5) {
    background: url(images/desktop/image-from-above.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(6) {
    background: url(images/desktop/image-pocket-borealis.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(7) {
    background: url(images/desktop/image-curiosity.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(8) {
    background: url(images/desktop/image-fisheye.jpg);
    background-position: center;
    background-size: cover;
}
#event button {
    margin: auto;
    text-align: center;
    grid-column: span 12;
    border: 1px solid var(--secondary);
    padding: .7rem 2rem;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-top: 1rem;
    cursor: pointer;
}

/** FOOTER **/
#footer {
    background-color: var(--secondary);
    padding: 2rem 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#footer a{
    color: var(--primary);
}
.copyright {
    color: var(--accent-one);
}
#footer ul {
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
    align-items: center;
}
#footer li {
    margin: .7rem 0;
}
#footer a {
    text-decoration: none;
}
.socials {
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 2rem;
}

/* Tablet View */
@media screen and (min-width: 760px){
    #about p {
        font-size: 1.2rem;
    }
    .box {
        height:130px;
    }
    #event button {
        
        margin-top: 2.5rem;
    }

}


/* desktop */
@media screen and (min-width: 1000px) {
    .nav-links {
        list-style: none;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0;
        background-color: transparent;
        height: auto;
        width: 50%;
        position: static;
        top: 0;
        left: 0;
        
        font-size: 1.2rem;
        padding-left: 0;
        text-transform: capitalize;
        display: flex;
        z-index: 1;
    }
    .nav-links a{
        position: relative;
    }
    .nav-links a::after {
        content: '';
        background-color: var(--primary);
        height: 3px;
        width: 0;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: .4s;
    }
    .nav-links a:hover::after {
        width: 100%;
    }
    .menu {
        display: none;
    }
    .title {
        border: 3px solid white;
        width: 40%;
        margin: auto;
        padding: 1rem;
        position: absolute;
        top:30%;
        left: 6%;
        transform: translate(0, 0);
    }
    .title h1 {
        line-height: 1.3em;
    }
    #header {
        padding: 0 4rem;
        height: 100vh;
    }

        /** ABOUT **/
    #about {
        background-color: var(--primary);
        padding: 5rem 0 0 0;
        position: relative;
        height: 100vh;
        width: 70%;
        margin: auto;
        position: relative;
    }
    .image img {
        width: 60%;
        margin: 0 auto;
        display: block;
        position: absolute;
        left: 0;
    }
    #about  .content {
        margin: 3rem auto;
        text-align: center;
        background-color: var(--primary);
        width: 50%;
        height: 50%;
        position: absolute;
        padding: 3rem;
        right: 0;
        top: 30%;
        
    }
    #about p {
        color: var(--accent-one);
        font-size: 1rem;
    }


    /** EVENT **/
    .grid {
        grid-gap: 2rem
    }
    #event{
        width: 70%;
        margin: 4rem auto;
        position: relative;
    }
    #event h2 {
        grid-column: 1 / 6;
        text-align: left;
        
    }
    .box {
        grid-column: span 3;
        width: 100%;
        height: 400px;
        display: flex;
        align-items: flex-end;
        padding: .7rem;
    }
    .box p {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 300;
        color: var(--primary);
        width: 60%;
    }
    .boxes {
        grid-column: span 12;
        grid-row: 2 / 3;
    }   
    #event button {
        margin: auto;
        text-align: end;
        grid-column: 6 / 13;
        border: 1px solid var(--secondary);
        padding: .7rem 2rem;
        background-color: transparent;
        text-transform: uppercase;
        letter-spacing: .5em;
        margin-top: 0rem;
        grid-row: 1 / 2;
        position: absolute;
        right: 0;
    }
    /* * FOOTER * */
    #footer {
        background-color: var(--secondary);
        padding: 2rem 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 20vh;
    }
    #footer .logo {
        position: absolute;
        top: 20%;
        left: 10%;
    }
    #footer a{
        color: var(--primary);
    }
    .copyright {
        color: var(--accent-one);
        position: absolute;
        top: 40%;
        right: 10%;
        margin: 1.7rem 0;
    }
    #footer ul {
        flex-direction: row;
        text-align: center;
        margin: 1rem 0;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 10%;
    }
    #footer li {
        margin: .7rem .5rem 0 0;
    }
    #footer a {
        text-decoration: none;
    }
    .socials {
        justify-content: center;
        width: auto;
        margin-bottom: 2rem;
        position: absolute;
        top: 20%;
        right: 10%;
    }
    .socials svg {
        margin-left: 1rem;
        cursor: pointer;
    }
}